<div class="callout callout--primary">
  <grid class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout--heading">Redady to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi,
        quis molestias nihil quisquam laboriosam dolores totam repellendus
        accusamus dolore.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
  </grid>
</div>
