<section class="block container">
  <article class="grid grid--1x2">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellat
        minima perspiciatis quos enim ea tempore dicta nostrum laboriosam
        reiciendis.
      </p>
      <a href="#" class="lonk-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--1x2">
    <div>
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellat
        minima perspiciatis quos enim ea tempore dicta nostrum laboriosam
        reiciendis.
      </p>
      <a href="#" class="lonk-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>
</section>
