<body style="padding: 5rem">
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="./images/testimonial.jpg" alt="A happy, Smiling customer." />
        <span class="icon--container icon--container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>

      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum amet
          rem at! Architecto rem, eligendi commodi aspernatur maxime atque
          repellat!
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Jhon Smith</h3>
              <p class="quote__organization">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</body>
